/* Everything that is global comes in here */
:root {
  /* color */
  --prime-orange: #ff8000;
  --light-gray: #e6e4e4;
  --gray-disable: #888;
  --light-yellow: #fff9df;
  --footer: #4f4f4f;

  /* shadow */
  --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-card: 0px 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  /* margin */
  --margin-300px: 300px;
  --margin-top-80px: 80px;

  /* padding */
  --padding-5px: 5px;

  /* border */
  --border: 1px solid var(--light-gray);
  --border-radius-50px: 50px;

  /* border-radius */
  --border-radius-10px: 10px;

  /* font-sizes */
  --font-size-h1: clamp(18px, 2.5vw, 28px);
  --font-size-h2: clamp(16px, 2.5vw, 26px);
  --font-size-span: 25px 45px 0 45px;
  --font-size-links: clamp(14px, 2.5vw, 24px);
  --font-size-span-basket: clamp(13px, 2.5vw, 17px);

  /* width */
  --width-shopping-cart-container: 420px;
}

header {
  height: 80px;
  background-color: var(--prime-orange);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 45px;
}

.header-logo {
  width: 155px;
}

.header-logo,
.header-burger-icon {
  display: grid;
  place-content: center;
}

.header-logo img,
.header-burger-icon img {
  width: 100%;
  cursor: pointer;
}

.header-burger-icon {
  width: 40px;
  aspect-ratio: 1 /1;
}

main {
  display: flex;
  background-color: aqua;
  /* flex-direction: row; */
  /* flex-grow: 1; */
}

.left-content-section {
  width: calc(100% - var(--width-shopping-cart-container));
  background-color: var(--light-gray);
}

.background-section {
  position: relative;
  height: 450px;
}

.img-logo-burger-company {
  width: 105px;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 30px;
  left: var(--margin-300px);
  border-radius: 6px;
}

.img-background-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishes-container {
  margin-inline: var(--margin-300px);
  margin-bottom: 40px;
}

.dishes-cards {
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.categories {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
  gap: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: var(--margin-300px);
  transition: box-shadow 0.3s ease;
  border-radius: 35px;
}

.scrolled-effect {
  box-shadow: var(--shadow);
  height: 55px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.link {
  display: flex;
  align-items: center;
  border-radius: 35px;
  padding: 10px;
  color: black;
  font-size: var(--font-size-links);
  font-weight: bold;
  background-color: white;
  transition: all 0.3s ease;
}

/* .link.active {
  color: white;
  background-color: black;
} */

.link:focus,
.link:active {
  color: white;
  background-color: black;
}

.headline-categories-over-single-dish-card {
  scroll-margin-top: 60px;
}

.headline-categories-over-single-dish-card h1 {
  font-size: var(--font-size-h1);
  margin-top: 20px;
}

footer {
  gap: 15px;
  padding: 35px;
  background-color: var(--footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  gap: 25px;
  display: flex;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: underline;
}
