.basket-container {
  position: relative;
  background-color: white;
  width: var(--width-shopping-cart-container);
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
}

.basket-content {
  max-height: calc(100dvh - var(--margin-top-80px));
  padding-inline: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
}

.basket-content h1 {
  font-size: var(--font-size-h1);
  text-align: center;
  padding: 25px 45px 25px 45px;
}

.switch-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  width: 80%;
}

.switch-option {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: var(--font-size-span-basket);
  color: var(--gray-disable);
}

.switch-option.active {
  background-color: var(--light-gray);
  color: #000;
  font-weight: bold;
}

.no-value-in-basket-container {
  margin-top: var(--margin-top-80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-value-in-basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-value-in-basket-content img {
  width: 65px;
}

.basket-dish-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  width: 100%;
  height: 78dvh;
}

.basket-dish-content {
  width: 100%;
}

.minimun-order-container {
  padding: 25px;
  background-color: var(--light-yellow);
  border-radius: var(--border-radius-10px);
}

.minimun-order-container span {
  font-size: var(--font-size-span-basket);
}

.basket-single-dish-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.basket-single-dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

.basket-single-dishes-name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.basket-single-dish-price,
.sum-total {
  padding-right: var(--padding-5px);
  font-size: var(--font-size-span-basket);
  font-weight: bold;
}

.basket-single-dish-name {
  text-decoration: underline;
  font-weight: bold;
  font-size: var(--font-size-span-basket);
}

.basket-single-dish-amount-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: var(--border);
}

.basket-single-dish-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  padding: 10px;
  gap: 15px;
  border-radius: var(--border-radius-50px);
}

.basket-single-dish-amount img {
  width: 25px;
  cursor: pointer;
}

.sum-of-the-cost-pay-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 34px;
}

.subtotal,
.total-price,
.delivery-costs,
.pay-btn {
  width: 100%;
}

.subtotal,
.total-price,
.delivery-costs {
  display: flex;
  justify-content: space-between;
}

.delivery-costs {
  font-size: var(--font-size-span-basket);
}

.subtotal {
  padding-bottom: var(--padding-5px);
  font-size: var(--font-size-span-basket);
  border-bottom: var(--border);
}

.total-price {
  padding-top: var(--padding-5px);
}

.pay-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
  width: 70%;
  font-size: var(--font-size-span-basket);
  padding: 15px;
  background-color: var(--light-gray);
  border-radius: var(--border-radius-50px);
}

.pay-btn:disabled {
  cursor: not-allowed;
}

/* responsive view */
.responsive-view-basket {
  z-index: 999;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100dvh;
}
